<html>
<head>
</head>
<body>
<font face="Times New Roman">
<center>
<table border="1" cellspacing="2" cellpadding="5" width="100%">
</center></td><td colspan="5"><center><font size="8" color="blue"><marquee width=95%, bgcolor="lavender">Smart Tender Management System</marquee></center></td></tr>
<tr><td><center>
<a href="description.html" target="des_page">Home</a></center></td>
<td><center>
<a href="Viewtenders.html" target="des_page">View Tenders</a></center></td>
<td><center>
<a href="Createbid.html" target="des_page">Create Bid</a></center></td>
<td><center>
<a href="Viewbids.html" target="des_page">View Bids</a></center></td>
<td><center>
<a href="home.html" target="desc_page"><button>Logout</button></a></center></td>
</table>
</center>
</font>
</body>
</html>